body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    left: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 90vh;
    max-width: none;
    border: 1.5px solid #c6d0d8;
    border-radius: 0px;
    overflow: hidden;
}

.line-numbers {
    line-height: 21px;
    padding: 0 5px 0 0;
}

h1 {
    text-align: center;
    color: #2e2a2a;
}

.textboxes {
    display: flex;
    width: 100%;
}

.textbox {
    width: 100%;
    padding: 9px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.input-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.line-numbers {
    background-color: #e3e6e8;
    color: #6e7681;
    line-height: 9px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    text-align: right;
    overflow-y: hidden;
    padding-right: 5px;
    width: 40px;
}

.input-box {
    flex-grow: 1;
    background-color: #f3f6f9;
    color: #2e3135;
    border: 1px solid #c6d0d8;
    border-radius: 8px;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 9px 12px;
    margin-left: -1px;
    overflow-y: auto;
    line-height: 21px;
}

.line-numbers {
    line-height: 21px;
    padding: 9px 10px 9px 0;
}

.output-box {
    background-color: #f3f6f9;
    color: #2e3135;
    border: 1px solid #c6d0d8;
    border-radius: 8px;
    position: relative;
    left: 3px;
    width: 50%;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.list {
    background-color: #0a69da;
    position:absolute;
    left:0;
    width:60px;
    height:104vh;
}

.menu-container {
    position: relative;
    width: 200px;
    height: 100%;
    right:50px;
    top:-10px;
    background-color: #f1f1f1;
}

.menu-toggle {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payload{
    width:100px;
    background-color: #ececec;
    border-radius: 5px;
}

.menu-items li {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.menu-items li a {
    text-decoration: none;
    color: #333333;
}

.menu-items li a:hover {
    color: #0a69da;
}

.execute {
    padding: 10px;
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #1e883e;
    color: #ffffff;
    font-weight: bold;
    outline: 1px;
    position: relative;
    top: 1px;
    right: 0px;
    border-radius: 5px;
    width: 100.3%;
    border: 2px solid #1e7336;
    font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.execute:hover {
    background-color: #1b8139;
}

.container > button {
    margin: 5px;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
    color: #AAAAAA;
    padding: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright a {
    color: #AAAAAA;
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}

.copyright i {
    margin-left: 5px;
}
